<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.likepcMapper">

	<resultMap type="likepcDTO" id="likepcDtoResult">
		<result property="proid" column="proid"/>
		<result property="like" column="like"/>
	</resultMap>
	
	<update id="updateLike" parameterType="likepcDTO">
	<![CDATA[
		update product set
			`like`= #{like}
		where proid = #{proid}
	]]>
	</update>
</mapper>