/* ----------------------------Common------------------------------ */
:root{
    --font:'Roboto', sans-serif;
    --mau1:#cad2c5;
    --mau2:#84a98c;
    --mau3:#52796f;
    --mau4:#354f52;
    --mau5:#2f3e46;
    --font12px:12px; /*View, post*/
    --font14px:14px; 
    --font16px:16px;/*titleProduct, menulittle*/
    --font18px:18px; /*titleCategory*/
    --font20px:20px;
    --font24px:24px;   /*logo*/
}
* {

    font-family: var(--font);
    margin: 0;
    padding: 0;

}
ul, li {
    list-style-type: none;
    margin-bottom: 0px;
}


.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* ----------------------------//Common------------------------------ */

/* ----------------------------Header------------------------------ */
header {
    background-color: var(--mau4);
}
header .logo-header {
    margin-top: 15px;
}
header .logo-header a {
    font-size: var(--font24px);
    color:var(--mau1);
    text-decoration: none;
    font-weight: 800;
}

header .menu-header {}
header .menu-header ul {
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
}
header .menu-header ul li {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0px 30px;
    border-radius: 15px;
    background-color: var(--mau1);
    text-align: center;
}
header .menu-header ul li a {
    font-size: var(--font18px);
    color:var(--mau4);
    font-weight: 800;
    text-decoration: none;
}

header .search-header {
    width: 100%;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}
header .search-header input {
    width: 100%;
    padding: 5px;
    background-color: var(--mau1);
    border: none;
    border-radius: 15px;
}
header .search-header input:focus{
    outline: none;
    color:var(--mau5);
}

header .search-header .icon-search {
    position: absolute;
    top: 5px;
    right: 5px;
}
header .search-header .icon-search a {
    color: var(--mau5);
}
header .login-header {
    margin-top: 20px;
}
header .login-header div {
    width: 100%;
    border-radius: 15px;
    background-color: var(--mau1);
    margin-left: 30px;
    text-align: center;
}
header .login-header div:nth-child(1) {width: 41.333%;float: left;}
header .login-header div:nth-child(2) {width: 11.333%;float: left;}
header .login-header div:nth-child(3) {width: 11.333%;float: left;}

header .login-header a {
    color: var(--mau4);
    font-size: var(--font18px);
    font-weight: 800;
    text-decoration: none;
    vertical-align: middle;
}


/* ----------------------------//Header------------------------------ */


/* ----------------------------Navmenu------------------------------ */

nav {background-color: var(--mau5);}
nav .menu-nav {}
nav .menu-nav ul {
    overflow: hidden;
}
nav .menu-nav ul li {
    display: inline-block;
    float: left;
    margin: 0px 140px 0px 0px;
}

nav .menu-nav ul li a {
    color: var(--mau1);
    font-size: var(--font16px);
    text-decoration: none;
}
nav .menu-nav ul li a:hover {
    color: turquoise;
}
.row {padding: 10px 0;}
/* ----------------------------//Navmenu------------------------------ */

/* ----------------------------section------------------------------ */
section {background-color: var(--mau1);}
section .left {
    border: 2px solid var(--mau5);
    border-radius: 10px;
    background-color: white;
}
section .left .top-left {border-bottom: 2px solid var(--mau5);
}
section .left .top-left h2 {    
    color: var(--mau3);
    font-size: var( --font16px);
    margin-top: 8px;
}
section .left .bottom-left {
    margin-top: 8px;
}
section .left .bottom-left>div {}
section .left .bottom-left>div a {
    color: var(--mau3);
    font-size: var(--font14px);
}
section .left .bottom-left>div p {
    display: inline-block;
    float: right;
    color: var(--mau3);
    font-size: var(--font14px);
}
section .left .bottom-left>div a i {}
section .left .bottom-left>div a span {}

section .mid {}
section .mid .search {
    position: relative;
    overflow: hidden;
}
section .mid .search input {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    border: none;
    padding: 0 25px;
}
section .mid .search input:focus {
    outline: none;
} 
section .mid .search div i {
    position: absolute;
    top: 5px;
    right: 10px;
}



/* ----------------------------//section------------------------------ */

/* ----------------------------footer------------------------------ */
footer {
    background-color: var(--mau4);
}
footer .menu-footer {
    margin-bottom: 10px;
    padding-top: 15px;
}
footer .menu-footer ul {overflow: hidden;}
footer .menu-footer ul li {
    display: inline-block;
    float: left;
    padding-right: 90px;
}
footer .menu-footer ul li a {
    font-size: var(--font18px);
    color: var(--mau1);
    text-decoration: none;
    
}
footer .menu-footer ul li a:hover {
    color: var(--mau2);
}
footer .middle-footer {
    margin-bottom: 30px;
} 
footer .middle-footer .row-middle-footer {} 
footer .middle-footer span {
    font-weight: bold;
    color: var(--mau1);
} 
footer .middle-footer ul {
    margin-top: 20px;
}
footer .middle-footer ul li {}
footer .middle-footer ul li a {
    font-size: var(--font16px);
    color: var(--mau3);
    text-decoration: none;
}
footer .middle-footer ul li a:hover {
    color: var(--mau2);
}

footer .bottom-footer {
    border-top: 1px solid var(--mau3);
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
footer .bottom-footer .address {
    display: inline-block;
    float: left;
}
footer .bottom-footer .address div {
    margin: 10px 0;
}
footer .bottom-footer .address p {
    margin-bottom: 0;
    color: var(--mau3);
}
footer .bottom-footer .icon-footer {
    display: inline-block; 
    float: left;
    margin: 10px 0;
}

footer .bottom-footer .icon-footer ul {overflow: hidden;width: 100%;}
footer .bottom-footer .icon-footer ul li {
    display: inline-block;
    float: left;
    padding-right: 20px;
    width: 20%;
}
footer .bottom-footer .icon-footer ul li div {width: 100%;}
footer .bottom-footer .icon-footer ul li div a {
    font-size: 30px;
    color: #fff;
}
footer .bottom-footer .icon-footer ul li div a img {
    width: 40%;
    border-radius: 10px;
}



/* ----------------------------//footer------------------------------ */

/* -----------------------------responsive---------------------------- */

@media only screen and (max-width: 600px) {} /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
   
  } 
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
  }

/* -----------------------------//responsive---------------------------- */b

